/** BOOK ITEM */
.book-item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  color: #def2f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.book-item::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #def2f1;
  margin: 1rem 0;
}

.book-item-title,
.book-item-author,
.book-item-categories {
  padding: 1rem;
}

.book-item-title {
  color: #17242a;
  font-size: 2rem;
  font-weight: bold;
}

.book-item-author {
  font-size: 1.5rem;
}

.book-item-image {
  width: 100%;
  overflow: hidden;
}

.book-item-image img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #17242a;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
