/** BOOK DETAILS */
.book-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

/* CONTAINERS */
.book-details-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.book-details-separator {
  margin: 1rem 0;
  width: 100%;
  border: 1px solid #ffff;
}

.book-details-container {
  margin-bottom: 1rem;
  width: 100%;
  display: grid;
}

.back-button-container {
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* IMG */
.book-details-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-details-img img {
  width: 80%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* TITLE AND AUTHORS */
.book-details-title,
.book-details-authors {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book-details-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.book-details-authors {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  font-weight: 400;
}

/* EDITION */
.book-details-edition {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
}

/* PAGES */
.book-details-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
}

/* RATING */
.book-details-rating {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* RATING STARS */
.book-details-rating span {
  font-size: 2rem;
}

/* BUY BUTTON */
.book-details-buy {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* QUOTES */
.book-details-quotes {
  margin-top: 1rem;
}

/* DESCRIPTION */
.book-details-description p {
  font-size: 1.1rem;
  line-height: 25px;
}

/* PRICE */
.book-details-price {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
