/** BOOK DETAILS */
.book-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-details-separator {
  margin: 1rem;
  width: 100%;
  outline: none;
  border: 1px solid #17242a;
}

.book-details-container {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.book-details-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.book-details-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.book-details-authors {
  font-size: 1.2rem;
}

/* BOOK IMG */
.book-details-img {
  width: 50%;
}

.book-details-img img {
  width: 100%;
  border-radius: 5px;
}

/* BOOK DETAILS INFORMATION */
.book-details-information {
  padding: 0 0.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-details-information > div {
  margin-bottom: 0.4rem;
}

.book-details-edition {
  width: 100%;
  font-weight: 600;
}

/* BOOK DETAILS RATING */
.book-details-rating {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#rating-text {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
}

#rating-value {
  margin-left: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
}
