{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "semi": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "endOfLine": "lf",
    "singleAttributePerLine": true,
    "printWidth": 80
}
