/** HOME */

.home-container {
  margin: auto;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-main-text {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #17242aea;
  text-transform: uppercase;
}

.home-main-logo {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 500;
  color: #ffff;
}

.home-main-logo span {
  font-weight: 700;
  color: #17242a;
}

.home-paragraph {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-paragraph-quote {
  margin-bottom: 1rem;
  font-style: italic;
  color: #ffffff9d;
  /* color: #17242a9a; */
  font-size: 1.7rem;
}

.home-paragraph-quote-author {
  font-size: 1.2rem;
}

#get-started-btn {
  width: 150px;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #17242a;
  color: #3aafa9;
  border-radius: 5px;
  border: none;
  outline: none;
}
