/** NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem;
  color: #def2f1;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
}

.navbar-links {
  display: none;
}

.navbar-link {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  padding: 0.6rem;
  background-color: #17242a;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.navbar-link * {
  color: #3aafa9;
}

.navbar-link.sticky {
  color: #17242a;
  background-color: #3aafa9;
}

.navbar-link.sticky * {
  color: #17242a;
}

.navbar.sticky {
  background-color: #17242a;
}

.navbar.sticky span {
  color: #3aafa9;
  transition: color 0.3s ease-in-out;
}

.navbar-title {
  color: #ffffff;
  font-weight: 500;
}

.navbar-title span {
  color: #17242a;
  font-weight: 700;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}
