/** USER DETAILS */
.user-details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: #17242a;
}

.user-information {
  padding: 0.3rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#account-icon {
  font-size: 6rem;
  color: #17242a;
}
