/** FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #def2f1;
  width: 100%;
  margin-top: auto;
  background-color: #17242a;
}

.footer-upper {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-site-logo {
  width: 50%;
}

.footer-site-logo img {
  width: 100%;
}

.footer-media-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-lower {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101a1f;
}
