@import url('https://fonts.cdnfonts.com/css/aileron');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Aileron', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #3aafa9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/** Media queries */

@media only screen and (min-width: 375px) {
  .sidebar.open {
    width: 70%;
  }
}

@media only screen and (min-width: 425px) {
  .sidebar.open {
    width: 70%;
  }

  .book-details-img img {
    width: 50%;
  }
}

@media only screen and (min-width: 500px) {
  .sidebar.open {
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .sidebar.open {
    width: 50%;
  }
  .book-details-img img {
    width: 45%;
  }
}

/* TABLETS */

@media only screen and (min-width: 768px) {
  .sidebar.open {
    width: 40%;
  }

  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-details-grid-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
  }

  .book-details-grid-container .book-details-separator {
    display: none;
  }

  .book-details-grid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .book-details-container-left,
  .book-details-container-right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .book-details-container-left {
    flex: 0 0 40%;
    position: sticky;
    top: 100px;
    align-items: center;
    align-self: flex-start;
  }

  .book-details-container-right {
    flex: 1;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 5rem;
    align-items: flex-start;
  }

  .book-details-title,
  .book-details-authors,
  .book-details-pages,
  .book-details-edition,
  .book-details-description {
    text-align: start;
  }

  .book-details-img img {
    width: 70%;
  }

  .total-price table {
    width: 20%;
  }
}

/* LAPTOPS */

@media only screen and (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin: 0 1rem;
    width: 150px;
    color: #3aafa9;
    background-color: #17242a;
  }

  .home-main-text {
    font-size: 1.3rem;
  }

  .home-main-logo {
    font-size: 4rem;
  }

  .home-main-logo span {
    font-weight: 700;
    color: #17242a;
  }

  .home-paragraph-quote {
    font-size: 1.8rem;
  }

  .home-paragraph-quote-author {
    font-size: 1.4rem;
  }

  #get-started-btn {
    font-size: 1.3rem;
  }

  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .book-details-img img {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  .hamburger-menu {
    display: none; /* Hide the hamburger menu on larger screens */
  }

  .nav-item {
    margin: 0 1rem;
    width: 150px;
    color: #3aafa9;
    background-color: #17242a;
  }

  .sidebar {
    display: none; /* Hide the sidebar on larger screens */
  }

  .book-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .book-details-img img {
    width: 60%;
  }
}

@media only screen and (min-width: 1400px) {
  .book-details-img img {
    width: 60%;
  }
}

/* DESKTOPS */
@media only screen and (min-width: 1600px) {
  .book-details-img {
    width: 75%;
  }
}

@media only screen and (min-width: 1800px) {
  .book-details-img {
    width: 75%;
  }
}
