@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #3aafa9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Mobile first */

/** Media queries */
@media only screen and (min-width: 380px) {
  .navbar-links {
    display: none;
  }

  .sidebar.open {
    width: 60%;
  }
}
@media only screen and (min-width: 600px) {
  .navbar-links {
    display: none;
  }

  .sidebar.open {
    width: 40%;
  }

  .home-main-text {
    width: 70%;
  }

  .home-image {
    width: 70%;
  }

  .home-image img {
    width: 80%;
  }

  .home-paragraph {
    width: 70%;
  }

  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-item-image {
    width: 100%;
  }

  .footer-site-logo {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-links {
    display: none;
  }
  .sidebar.open {
    width: 30%;
  }

  .home-main-text {
    width: 60%;
  }

  .home-image {
    width: 60%;
  }

  .home-image img {
    width: 70%;
  }

  .home-paragraph {
    width: 60%;
    font-size: 1.2rem;
  }

  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-item-image {
    width: 100%;
  }

  .footer-site-logo {
    width: 30%;
  }

  .book-details-img {
    width: 35%;
  }

  .book-details-img img {
    width: 100%;
  }

  .book-details-information {
    width: 65%;
  }

  .book-details-edition,
  .book-details-format,
  .book-details-pages {
    font-size: 1.3rem;
  }

  .book-description {
    font-size: 1.2rem;
  }

  .book-details-quotes {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar {
    display: none; /* Hide the sidebar on larger screens */
  }

  .hamburger-menu {
    display: none; /* Hide the hamburger menu on larger screens */
  }

  .nav-item {
    margin: 0 1rem;
    width: 150px;
    color: #3aafa9;
    background-color: #17242a;
  }

  .home-container {
    width: 100%;
    margin: auto;
    flex-direction: row;
  }

  .home-image {
    width: 50%;
  }

  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-site-logo {
    width: 15%;
  }

  .footer-lower {
    font-size: 0.8rem;
  }

  .footer-media-links {
    width: 20%;
    justify-content: space-between;
  }

  .book-details-img {
    width: 25%;
  }

  .book-details-img img {
    width: 100%;
  }

  .book-details-information {
    width: 75%;
  }

  .book-details-edition,
  .book-details-format,
  .book-details-pages {
    font-size: 1.4rem;
  }

  .book-description {
    font-size: 1.1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hamburger-menu {
    display: none; /* Hide the hamburger menu on larger screens */
  }

  .nav-item {
    margin: 0 1rem;
    width: 150px;
    color: #3aafa9;
    background-color: #17242a;
  }

  .sidebar {
    display: none; /* Hide the sidebar on larger screens */
  }

  .book-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
