@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #3aafa9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Mobile first */
/** NAVBAR */
.navbar {
  padding: 1rem;
  color: #def2f1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-title {
  color: #def2f1;
}

.navbar-title span {
  color: #17242a;
}

.navbar-links {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

/** SIDEBAR */
.sidebar {
  display: flex;
  width: 0;
  height: 100%;
  background-color: #17242a;
  color: #def2f1;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.35s ease-in-out;
}

.sidebar.open {
  width: 100%;
}

.sidebar-close-btn {
  width: 100%;
  padding-top: 0.3rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sidebar-close-btn-icon {
  font-size: 2rem;
}

.sidebar-content {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-title span {
  color: #3aafa9;
}

/** NAV ITEM */
.nav-item {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  background-color: #37a495;
  text-decoration: none;
  color: #17242a;
  border-radius: 5px;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}

/** ADD BUTTON */
.add-button {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 90%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #def2f1;
  background-color: #2b7a77;
  cursor: pointer;
}

/** HOME */
.home-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-about {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.home-main-text {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.home-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-image img {
  width: 80%;
  border-radius: 5px;
}

.home-paragraph {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

#get-started-btn {
  width: 150px;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #17242a;
  color: #3aafa9;
  border-radius: 5px;
  border: none;
  outline: none;
}

/** BOOK LIST */
.book-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
}

/** BOOK */
.book {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid 2b7a77;
  border-radius: 15px;
  background-color: #2b7a77;
  color: #def2f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-title {
  color: #17242a;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.book-author {
  text-align: center;
  font-size: 1.5rem;
}

.book-image {
  width: 100%;
}

.book-image img {
  width: 100%;
}

/** FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #def2f1;
  width: 100%;
  margin-top: auto;
  background-color: #17242a;
}

.footer-upper {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-site-logo {
  width: 50%;
}

.footer-site-logo img {
  width: 100%;
}

.footer-media-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.footer-media-links img {
  margin: 0 0.4rem;
  width: 16%;
}

.footer-lower {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101a1f;
}

/** Media queries */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hamburger-menu {
    display: none; /* Hide the hamburger menu on larger screens */
  }

  .book-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .nav-item {
    margin: 0 1rem;
    width: 150px;
    color: #3aafa9;
    background-color: #17242a;
  }

  .sidebar {
    display: none; /* Hide the sidebar on larger screens */
  }
}
